body{
  background-color: #ddf0e6;
}

:root {
  margin: 0;
  padding: 0;
}

.article {
  margin: 0 auto;
  max-width: 600px;
}

.hide-article {
  display: none;
}

.science {
  max-width: 600px;
}

.science2 {
  max-width: 600px;
}

.styling {
  max-width: 600px;
}